@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PretendardVariable";
  src: url("../../public/font/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

html,
body {
  @apply min-h-screen bg-white dark:bg-black;
}

.dark html,
.dark body {
  @apply bg-neutral-900 text-white transition-colors duration-300;
}
